*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.men{
    margin-top: 30px;
    line-height: 50px;
}
.add{
    line-height: 150px;
    font-size: 120px;
}